// typo 
$headingFontFamily: Ultra, serif;
$textFontFamily: 'Slabo 13px', serif;
$linkFontFamily: Roboto, sans-serif;

// colors
$primary: #3B1CFF;
$primaryHighlight: #674fff;
$darkgray: #494E61;
$middlegray: #8D95B1;
$lightgray: #DCDCDC;
$milennialpink: #EE9D9D;
$hot: #FA5B33;
$blueOffWhite: #E5E1FF;

// font-size
$largeFontSize: 2.2em;
$buttonFontSize: 1.1em;
$largeHeadingFontSize: 2em;
$mediumHeadingFontSize: 1.5em;
$textFontSize: 1em;
$largeTextFontSize: 1.3em;
$commentFontSize: 0.8em;

// border radius
$smallBorderRadius: 4px;
$largeBorderRadius: 8px;

// container width
$containerWidth: 1000px;