// typo 
$headingFontFamily: Ultra, serif;
$textFontFamily: Slabo 13px, serif;
$linkFontFamily: Roboto, sans-serif;

// colors
$primary: #3B1CFF;
$primaryHighlight: #674fff;
$darkgray: #494E61;
$lightgray: #DCDCDC;
$milennialpink: #EE9D9D;
$hot: #FA5B33;

// font-size
$largeFontSize: 2.2em;
$buttonFontSize: 1.1em;
$h1FontSize: 2em;
$h2FontSize: 1.5em;
$textFontSize: 1em;
$commentFontSize: 0.8em;

// border radius
$smallBorderRadius: 4px;
$largeBorderRadius: 8px;