extends layout

block content
  header.home__header
    .home__header__container
      img.home__header__container__logo(src='https://svgshare.com/i/5eT.svg', alt='Kweeni logo')
      h1.home__header__container__heading Eerste hulp 🚑 bij 🎨 design & ☕ development hoofdpijn. Kweeni hoe handig.
      .home__header__container__login
        a(href='/auth/facebook')
          img(src='https://image.ibb.co/kSfm5x/9cab50d6_1e54_4f46_b33d_945af9c54e81.png', alt='login button')
      .home__header__container__item.home__header__container__item--user1.home__header__container__item--bg(style=`background-image:url(${user1});`)
      .home__header__container__item.home__header__container__item--user2.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user3.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user4.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user5.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user6.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user7.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user8.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user9.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user10.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user11.home__header__container__item--bg
      .home__header__container__item.home__header__container__item--user12.home__header__container__item--bg
  main
    section.home__container
      .home__container__block.home__container__block--smarter
        .home__container__block__title
          img.container__block__title__emoji(src='https://svgshare.com/i/5eU.svg', alt='cool emoji')
          h3 SAMEN SLIMMER
        .home__container__block__text
          p Iedereen kan een nieuw SWEENI-topic aanmaken en de link delen.
          p Daarna kunnen vragen gesteld worden tijdens lessen, demo's, ...
      .home__container__block.home__container__block--coins
        .home__container__block__title
          img.container__block__title__emoji(src='https://svgshare.com/i/5cr.svg', alt='love emoji')
          h3 KWEENI COINS
        .home__container__block__text
          p
            | Verdien KWEENI coins door anderen te helpen. Met je KWEENI coins kan je andere bedanken die je helpen.
          p Da's kweeni hoe handig
      .home__container__block.home__container__block--imd
        .home__container__block__title
          img.container__block__title__emoji(src='https://svgshare.com/i/5eq.svg', alt='rainbow emoji')
          h3 MADE BY IMD
        .home__container__block__text
          p Een project van #weareimd en GoodBytes
