extends layout

block content
  header.header
    .header__container
      .header__logo
        a(href='/')
          img#logo(src='/images/logo.svg', alt='logo_KWEENI')
      .header__user
        span.header__user=username
        a(href='/auth/logout').header__user__logout Uitloggen
        img(src=picture, alt='user').header__user__img
  .subheader
    .subheader__container
      h3.subheader__title Iets kweeni hoe moeilijk? Stel hier je vraag.
      form(method='post' action='/kweeni').subheader__prompt
        input.subheader__prompt__input(type='text', name='question')
        input.subheader__prompt__submit(type='submit', value='Nu vragen', class="ask__button")
  .list
    h3.list__title Hot topics!
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x33
      .topic__question
        a(href='kweeni/test') Wat is ES6 en waarvoor dient het?
      .topic__author
        p Yves Dehipster
        img(src='/images/user1.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x28
      .topic__question
        a(href='kweeni/test') Wat is het verschil tussen let, var en const?
      .topic__author
        p Jerold Venard
        img(src='/images/user2.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x22
      .topic__question
        a(href='kweeni/test') Hoe werk Async-Await in nodejs?
      .topic__author
        p Kerrill Farrior
        img(src='/images/user3.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x20
      .topic__question
        a(href='kweeni/test') Waarvoor dient mondogdb?
      .topic__author
        p Davin Macmullan
        img(src='/images/user4.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x12
      .topic__question
        a(href='kweeni/test') Wat is expressjs?
      .topic__author
        p Averill Aspley
        img(src='/images/user5.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x11
      .topic__question
        a(href='kweeni/test') Hoe kun je live iets updaten met sockets?
      .topic__author
        p Rodrique Jacox
        img(src='/images/user6.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x6
      .topic__question
        a(href='kweeni/test') Wat is een goede reden om nodejs te gebruiken?
      .topic__author
        p Zebulon Channel
        img(src='/images/user7.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x5
      .topic__question
        a(href='kweeni/test') zijn CSS variabelen te verkiezen boven sass?
      .topic__author
        p Chadwick Staheli
        img(src='/images/user8.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x3
      .topic__question
        a(href='kweeni/test') Dit is een veel te lang topic om te zien hoe de app daarop re...
      .topic__author
        p Beau Colomy
        img(src='/images/user9.png', alt='avatar')
    .topic
      .topic__likes
        img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
        span.topic__likes__count x0
      .topic__question
        a(href='kweeni/test') Wanneer gebruik je beter MongoDB ipv MySQL?
      .topic__author
        p Willey Mouse
        img(src='/images/user10.png', alt='avatar')
  a.more(href='') Toon 10 extra topics