doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Home
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Slabo+13px|Ultra', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/kweeni.css')
  body
    block content
    header.header
      .header__logo
        a(href='/')
          img#logo(src='/images/logo.svg', alt='logo_KWEENI')
      .header__user
        span=username
        a(href='/auth/logout') Log uit
        img(src=picture, alt='user')
    .ask
      h1 Iets kweeni hoe moeilijk? Stel hier je vraag.
      form(method='post' action='/kweeni')
        input.search(type='text', name='question', placeholder='Wat is expressjs?', class="ask__input")
        input.btn(type='submit', value='Nu vragen', class="ask__button")