 /* header*/

 .header {
    background: $darkgray;
  }
  
  .header__container {
    max-width: $containerWidth;
    padding: 0.8em;
    display: grid;
    grid-template-columns: minmax(130px, 1fr) 1fr;
    align-items: center;
    margin: 0 auto;
  }

  .header__user {
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1fr;
    align-self: center;
    justify-items: end;
    font-size: 0.9em;
    color: #99A0BB;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
  }
  
  .header__user__name, .header__user__logout {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
  }
  
  .header__user__name {
    color: $middlegray;
    font-size: $commentFontSize;
    font-weight: 600;
  }
  
  .header__user__logout {
    color: $milennialpink;
    font-size: $commentFontSize;
    font-weight: bold;
  }

